In [3]:
import pandas as pd

In [4]:
# lecture du csv
df = pd.read_csv('gameandgrade new.csv')

In [5]:
# Vérifie s'il y a des valeurs manquantes
print(df.isnull().any().any())  # True si au moins une valeur est manquante

False

In [6]:
print(df.duplicated().any())  # True si au moins une ligne est dupliquée

True

In [7]:
# Afficher les doublons
print(df[df.duplicated()])

     Sex  School Code  Playing Years  Playing Often  Playing Hours  \
278    0            4              0              0              0
367    0            4              0              0              0
419    0            5              0              0              0
468    0            7              0              0              0
478    0            7              0              0              0
480    0            7              0              0              0
610    0            9              0              0              0
616    0            9              0              0              0
617    0            9              0              0              0
618    0            9              0              0              0
619    0            9              0              0              0
631    0            9              0              0              0
640    0            9              0              0              0
644    0            9              0              0              0
646    0            9              0              0              0
746    0            8              0              0              0

     Playing Games  Parent Revenue  Father Education  Mother Education  Grade  \
278              0               2                 3                 4  70.00
367              0               1                 3                 2  70.00
419              0               2                 5                 4    100
468              0               0                 4                 4    100
478              0               0                 5                 5    100
480              0               0                 6                 6    100
610              0               0                 5                 5    100
616              0               0                 6                 6    100
617              0               0                 5                 6    100
618              0               0                 6                 6    100
619              0               0                 5                 5    100
631              0               0                 5                 5    100
640              0               0                 4                 4    100
644              0               0                 4                 4    100
646              0               0                 4                 4    100
746              0               2                 3                 3  75.00

    percentage
278   7000,00%
367   7000,00%
419  10000,00%
468  10000,00%
478  10000,00%
480  10000,00%
610  10000,00%
616  10000,00%
617  10000,00%
618  10000,00%
619  10000,00%
631  10000,00%
640  10000,00%
644  10000,00%
646  10000,00%
746   7500,00%

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 770 entries, 0 to 769
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Sex               770 non-null    int64
 1   School Code       770 non-null    int64
 2   Playing Years     770 non-null    int64
 3   Playing Often     770 non-null    int64
 4   Playing Hours     770 non-null    int64
 5   Playing Games     770 non-null    int64
 6   Parent Revenue    770 non-null    int64
 7   Father Education  770 non-null    int64
 8   Mother Education  770 non-null    int64
 9   Grade             770 non-null    object
 10  percentage        770 non-null    object
dtypes: int64(9), object(2)
memory usage: 66.3+ KB

In [9]:
df['Grade'] = df['Grade'].astype(str).str.strip()           # Supprime les espaces
df['Grade'] = df['Grade'].str.replace(',', '.', regex=False)  # Remplace les virgules par des points

In [10]:
df['Grade'] = pd.to_numeric(df['Grade'], errors='coerce') # errors='coerce' transforme les valeurs non convertibles en NaN (valeurs manquantes) | ensuite on peut remplacer Nan par une valeur par défaut avec fillna(0)

In [11]:
# Vérifie s'il y a des valeurs manquantes
print(df.isnull().any().any())  # True si au moins une valeur est manquante

True

In [12]:
lignes_incompletes = df[df.isnull().any(axis=1)]
print(lignes_incompletes)

     Sex  School Code  Playing Years  Playing Often  Playing Hours  \
363    0            4              0              0              0

     Playing Games  Parent Revenue  Father Education  Mother Education  Grade  \
363              0               2                 4                 4    NaN

    percentage
363     92,,00

In [13]:
df["Grade"].dtype
df.head

<bound method NDFrame.head of      Sex  School Code  Playing Years  Playing Often  Playing Hours  \
0      0            1              1              2              1
1      1            1              1              3              1
2      0            1              0              0              0
3      0            1              3              5              1
4      1            1              1              1              2
..   ...          ...            ...            ...            ...
765    1            2              1              2              4
766    1            9              2              5              1
767    0            4              2              1              3
768    0            4              2              1              3
769    0            9              2              5              2

     Playing Games  Parent Revenue  Father Education  Mother Education  Grade  \
0                1               4                 4                 5   77.5
1                1               1                 3                 3   83.0
2                0               1                 3                 3   80.0
3                1               2                 2                 3   45.0
4                1               1                 3                 4   85.0
..             ...             ...               ...               ...    ...
765              1               1                 3                 3   67.5
766              1               2                 5                 5  100.0
767              1               4                 5                 4   75.0
768              1               2                 4                 4   77.0
769              1               0                 5                 5  100.0

    percentage
0     7750,00%
1     8300,00%
2     8000,00%
3     4500,00%
4     8500,00%
..         ...
765   6750,00%
766  10000,00%
767   7500,00%
768   7700,00%
769  10000,00%

[770 rows x 11 columns]>

In [14]:
# replacement de la valeur NaN par sa bonne valeur (92)
df['Grade'] = df['Grade'].fillna(92)
df.loc[363]

Sex                      0
School Code              4
Playing Years            0
Playing Often            0
Playing Hours            0
Playing Games            0
Parent Revenue           2
Father Education         4
Mother Education         4
Grade                 92.0
percentage          92,,00
Name: 363, dtype: object

In [15]:
# Replacer la colonne percentage de la ligne 363 par sa bonne valeur
df.at[363, 'percentage'] = "9200,00%"
df.loc[363]

Sex                        0
School Code                4
Playing Years              0
Playing Often              0
Playing Hours              0
Playing Games              0
Parent Revenue             2
Father Education           4
Mother Education           4
Grade                   92.0
percentage          9200,00%
Name: 363, dtype: object

In [16]:
#transformer toute la colonne en type pourcentage
df['percentage'] = (
    df['percentage']
    .astype(str)                          # Convertit en chaîne
    .str.strip()                          # Supprime les espaces
    .str.replace('%', '', regex=False)   # Supprime le symbole %
    .str.replace(',', '.', regex=False)  # Remplace les virgules par des points
)
df['percentage'] = pd.to_numeric(df['percentage'], errors='coerce')

In [17]:
df['percentage'] = df['percentage'] / 100
print(df['percentage'])

0       77.5
1       83.0
2       80.0
3       45.0
4       85.0
       ...
765     67.5
766    100.0
767     75.0
768     77.0
769    100.0
Name: percentage, Length: 770, dtype: float64

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 770 entries, 0 to 769
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Sex               770 non-null    int64
 1   School Code       770 non-null    int64
 2   Playing Years     770 non-null    int64
 3   Playing Often     770 non-null    int64
 4   Playing Hours     770 non-null    int64
 5   Playing Games     770 non-null    int64
 6   Parent Revenue    770 non-null    int64
 7   Father Education  770 non-null    int64
 8   Mother Education  770 non-null    int64
 9   Grade             770 non-null    float64
 10  percentage        770 non-null    float64
dtypes: float64(2), int64(9)
memory usage: 66.3 KB

In [19]:
#affichage des valeurs manquantes du dataset
df.isnull().sum()

Sex                 0
School Code         0
Playing Years       0
Playing Often       0
Playing Hours       0
Playing Games       0
Parent Revenue      0
Father Education    0
Mother Education    0
Grade               0
percentage          0
dtype: int64

In [94]:
# création du nouveau fichier csv
df.to_csv('clean_gameandgrade.csv', index=False)